.vid{
    width: 100%;
    height: 100vh;
}

video{ 
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}


.accueil-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.accueil-text{
    color: rgb(235, 47, 14);
    font-size: 3rem;
}


.bienvenue{
    background-color: rgba(165, 42, 42, 0.466);
    box-sizing: border-box;
    margin-top: 100vh;
    width: 100%;
    z-index: 0;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.651);

    
}


.bienvenue p{
    padding-bottom: 3%;
    padding-top: 3%;
    font-size: 2rem;
}


.bienvenue h1{
    font-size: 5rem;
}

.bienvenue button{
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px;
    width: 27rem;
}

.actualite{
    display: flex;
    justify-content: space-around;
    width: 100%;
    

}

.actualite img{
    width: 100%;
    height: 100vh;
    object-fit: cover;

}

.photo{
    width: 50%;
    height: 50%;
}

.texte{
    width: 50%;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: black;
}

.texte p{
    max-width: 70%;
    margin-top: 4rem;
    font-size: 1.2rem;


}

.gant{
    width: 50%;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.gant img{
    width: 100%;
    height: 100vh;
}

.lettre{
width: 50%;
background-color: black;
color: white;
padding: 10%;
}

.flex{
    display: flex;
}

@media screen and (max-width: 249px){

    .accueil-text{
        color: rgb(235, 47, 14);
        font-size: 1.5rem;
    }

    .bienvenue h1{
        font-size: 3rem;
    }

    .bienvenue button{
        background: transparent;
        border: 1px solid white;
        color: white;
        padding: 10px;
        width: 20rem;
    }


    .gant,
    .actualite img {
        display: none;
    }


    .texte,
    .lettre{
        width: 100%;
        display: block;
        margin: 0;
    }


    .actualite {
        display: block;
        justify-content: space-around;
        width: 100%;
    }
    
}