.NavbarItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 34px;
    width: 95%;
    height: 80px;
    background-color:transparent;
    z-index: 99;
}

.nav-menu{
    display: none;
    grid-template-columns: repeat(6,auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
}

.nav-links{
    text-decoration: none;
    color: blue;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    white-space: nowrap;
}

.nav-links i{
    padding-right: 10px;
}

.nav-links:hover{
    background-color: black;
    color: cornflowerblue;
    border-radius: 4px;
    transition: all 0s ease-in-out;
}

.nav-links-mobile{
    display: flex;
}

button{
    padding: 0.5rem 1rem;
    white-space: nowrap;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 0s ease-in-out;
}

.menu-icons{
    display: flex;
}

button:hover{
    background-color: black;
    color: blue;
}

.nav-menu.active{
    left: 0;
    opacity: 1;
    z-index: -1;
}





    .NavbarItems{
        z-index: 99;
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: #fff565;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -120%;
        opacity: 1;
        align-items: stretch;
        padding: 80px 0 30px 0;
        margin: 0;
        text-align: center;
        z-index: -1;
    }

    .nav-menu.active{
        left: 0;
        opacity: 1;
        z-index: -1;
    }
    .nav-links{
        display: block;
        width: 100%;
        font-size: 1.2rem;
        padding: 2rem;
    }
    

    .nav-links:hover{
        background: purple;
        transition: none;
    }

    .nav-links-mobile{
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: auto;
    border-radius: 4px;
    width: 80%;
    background: purple;
    text-decoration: none;
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
    }
