.seance {
    width: 30%;
    background-color: #000000ba;
    padding: 2rem 0.5rem;
    border-radius: 25px;
    color: white;
}

form {
    display: block;
    height: 100vh;
}

.reservation{
    height: 50vh;
}

.formulaire{
    display: block;
    
}

.seance h2,
.seance h3 {
    margin: 0.5rem;
}

.back {
    background-color: rgb(224, 248, 221);
}

.flexc {
    display: flex;
    margin-bottom: 4%;
}

.imgagbelle {
    background: url(../assset/belle.png);
    width: 100%;
    height: 100vh;
    margin-right: 10%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}